import_emission_factors/*__pycache__*
import_emission_factors/mrio_models/*
import_emission_factors/processed_mrio_resources/*
import_emission_factors/output/*
import_emission_factors/response_data/*
import_emission_factors/API/*API_key.yaml
!import_emission_factors/output/*import_factors_exiobase_2019*
!import_emission_factors/output/aggregate*
!import_emission_factors/output/import_shares_2019*
